table {
  width: 80%;
}

.no-tasks-to-show {
  padding: 20px 0px 20px 0;
  text-align: center;
  font-size: large;
  font-weight: 400;
}

.button {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  justify-content: center;
}

mat-icon {
  font-size: 23px;
}

.table {
  padding: 30px;
}

.generla-button {
  margin-top: 20px;
  padding-right: 30px;
}

.general-actions {
  display: flex;
}

.completed {
  background-color: rgba(53, 198, 46, 0.623);
}
