form {
  display: flex;
  flex-direction: column;
  padding: 22px;

  .title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
  }
}

.mat-mdc-dialog-actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;

  button {
    font-size: 16px;
  }
}
